body #content-area
{
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-grow: 1;
    position: relative;
}

#content-area div:nth-child(n+1)
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#user-management
{
    margin: 0 40px 0 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#user-management::-webkit-scrollbar
{
    display: none;
}

#database-administration
{
    margin: 0 40px 0 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#system-monitoring
{
    display: none;
    z-index: 3;
}

#system-config
{
    display: none;
    z-index: 4;
}

.shown
{
    display: flex;
}