    body {
        padding: 0;
        margin: 0;
        background: linear-gradient(to bottom right, white, #eff6ff, #bfdbfe);
        width: 100%;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: sans-serif;
    }

    main
    {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    main #left
    {
        display: flex;
        width: 50%;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    #left #header
    {
        width: 640px;
        display: flex;
        font-size: 55px;
        font-weight: 100;
        background: linear-gradient(to right, #2563eb, #1e40af);
        -webkit-background-clip: text;
        color: transparent;
    }


    #left #body
    {
        width: 640px;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        font-weight: thin;
        color: #374151;
        text-align: left;
        transform: translateY(-50px);
    }

    #left #list
    {
        width: 640px;
        display: flex;
        flex-direction: column;
    }

    #list .container
    {
        display: flex;
    }

    #list .image-holder
    {
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
    }

    #list .container .image-holder i
    {
        padding: 20px;
        border-radius: 50%;
        background-color: #dbeafe;
    }

    #list .container .text-holder .heading
    {
        font-size: 22px;
        color: #111827;
    }

    #list .container .text-holder .subheading
    {
        font-size: 18px;
        color: #4b5563;
        transform: translateY(-8px);
    }

    main #right
    {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #right form
    {
        grid-area: form;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 70%;
        align-self: center;
        padding: 0 0 60px 0;
        justify-self: center;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        margin: 40px 0 40px 0;
        position: relative;
    }

    form #header
    {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0;
    }

    form #header p:first-child
    {
        font-size: 30px;
        line-height: 0.1;
        font-weight: 500;
        color: #374151;
    }

    form #header p:not(:first-child)
    {
        font-weight: 500;
        color: #374151;
    }

    form #body
    {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 70%;
        padding: 20px 0 1px 0;
        box-sizing: border-box;
    }

    form #body label
    {
        font-size: 20px;
        margin-bottom: 5px;
        color: #374151;
    }

    form #body input
    {
        height: 2.6rem;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
        padding: 0 0 0 10px;
        box-sizing: border-box; 
    }

    form #body input:focus
    {
        border: 2px solid #0390dc;
    }

    form #options
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        transform: translateY(-35px);
    }

    form #options span
    {
        display: flex;
    }

    form #options a
    {
        color: #0077b6;
        text-decoration: none;
    }

    form #submit-area
    {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    form #submit-area button
    {
        
        height: 3rem;
        width: 50%;
        padding: 0 30px 0 30px;
        font-size: 15px;
        border-radius: 7px;
        border: none;
        background-color: rgb(0, 89, 254);
        color: white;
    }

    form #submit-area button:hover
    {
        background-color: #0390dc;
    }

    form #submit-area
    {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    form #submit-area button
    {
        
        height: 3rem;
        width: 50%;
        padding: 0 30px 0 30px;
        font-size: 15px;
        border-radius: 7px;
        border: none;
        background-color: rgb(0, 89, 254);
        color: white;
    }

    form #submit-area button:hover
    {
        background-color: #0390dc;
    }

    form #sign-up-btn
    {
        font-size: 15px;
    }

    footer
    {
        height: 500px;
        background-color: transparent;
        justify-self: flex-end;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0;
    }

    footer span:first-child
    {
        display: flex;
        align-items: center;
    }

    footer span img
    {
        width: 100px;
        height: auto;
    }

    footer span p
    {
        font-size: 40px;
        letter-spacing: 5px;
        word-spacing: 10px;
        font-weight: bold;
    }
    footer #linkages
    {
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    footer #linkages i
    {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 25%;
        height: 50px;
        font-size: 2rem;
        color: #374151;
        padding: 0 0 0 40px
    }

    footer #linkages i:hover
    {
        color: #01a1f784;
        transform: scale(1.3);
        transform: translateY(-5px);
        transition: max-height .34s cubic-bezier(.2,.9,.27,1), opacity .24s ease, transform .26s ease;
    }

    footer p
    {
        user-select: text;
        color: #374151;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
    }

    footer span
    {
        color: #374151;
    }


