footer
    {
        height: 500px;
        background-color: transparent;
        justify-self: flex-end;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0;
        border: none;
    }

    footer span:first-child
    {
        display: flex;
        align-items: center;
    }

    footer span img
    {
        width: 100px;
        height: auto;
    }

    footer span p
    {
        font-size: 40px;
        letter-spacing: 5px;
        word-spacing: 10px;
        font-weight: bold;
    }
    footer #linkages
    {
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    footer #linkages i
    {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 25%;
        height: 50px;
        font-size: 2rem;
        color: #374151;
        padding: 0 0 0 40px
    }

    footer #linkages i:hover
    {
        color: #01a1f784;
        transform: scale(1.3);
        transform: translateY(-5px);
        transition: max-height .34s cubic-bezier(.2,.9,.27,1), opacity .24s ease, transform .26s ease;
    }

    footer p
    {
        user-select: text;
        color: #374151;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
    }

    footer span
    {
        color: #374151;
    }