body
{
    background: linear-gradient(to bottom right, white, #eff6ff, #bfdbfe);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
}

body #content-area
{
    margin: 10px 20px 30px 20px;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
}

#content-area div:nth-child(n+1)
{
    width: 100%;
    /*height: 100%;*/
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#content-area #overview
{
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#overview::-webkit-scrollbar, #product-management::-webkit-scrollbar, #order-management::-webkit-scrollbar, #technician-schedule::-webkit-scrollbar, #buyback::-webkit-scrollbar
{
    display: none;
}

#product-management
{
    position: relative;
    margin: 0;
    z-index: 2;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#order-management
{
    margin: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
}

#technician-schedule
{
    margin: 0;
    display: none;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 4;
}

#buyback
{
    margin: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
}

.shown
{
    display: flex;
}

/* Submenu content sections */
#product-management > div
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#products, #categories-brands, #stock-management, #used-components
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}