.table-list
{
    background-color: white;
    box-shadow: 0 3px 4px rgba(155, 155, 155, 0.1);
    margin: 20px;
    color: #4b5563;
    border-radius: 10px;
}


.table-list thead th
{
    padding: 20px;
    color: #4b5563;
}

.table-list thead th:nth-child(5)
{
    display: flex;
    justify-content: center;
}

.table-list tbody td
{
    padding: 10px;
}