#content-area #overview .header, #content-area #order-management .header
{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    background-color: transparent;
    /*box-shadow: 0 1px 2px rgba(155, 155, 155, 0.4);*/
}

#content-area #overview .header .cards, #content-area #order-management .header .cards
{
    background-color: white;
    flex: 1;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(155, 155, 155, 0.2);
    box-sizing: border-box;
}

#card1
{
    border-left: 4px solid limegreen
}

#card2
{
    border-left: 4px solid lightblue
}

#card3
{
    border-left: 4px solid tomato;
}

#card4
{
    border-left: 4px solid rebeccapurple;
}

#card5
{
    border-left: 4px solid #8b5cf6;
}

#content-area #overview .header .heading, #content-area #order-management .header .heading
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-area #overview .header .subheading, #content-area #order-management .header .subheading
{
    display: none;
}

#content-area #overview .header .heading p:first-child, #content-area #order-management .header .heading p:first-child
{
    font-size: 12px;
    margin: 0 0 8px 0;
    padding: 0;
    color: #4b5563;
}

#content-area #overview .header .heading p:not(:first-child), #content-area #order-management .header .heading p:not(:first-child)
{
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}