#database-administration #container
{
    margin: 0 0 0 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#database-administration #container #header
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: #111827;
}

#database-administration #container #header button
{
   width: 100px;
   height: 50px;
   border-radius: 10px;
   border: none;
   background-color: skyblue;
   color: white;
}

#database-administration #container #header button:hover
{
   background-color: rgb(49, 197, 255);
}

#database-administration #container #db_table
{
    transform: translateX(-23px);
}



