

#content-area #system-monitoring #chart1
{
    width: 100%;
    height: 350px;
    padding: 10px 20px 80px 20px;
    background-color: white;
    box-shadow: 0 3px 4px rgba(155, 155, 155, 0.4);
}

#content-area #system-monitoring #chart1 p
{
    font-size: 26px;
    margin: 10px 0 10px 20px;
    color: #4b5563;
}

#content-area #system-monitoring #chart1 #uptime-chart
{
    width: 100%;
}
