#user-management #add-user {
    width: 0;
    transition: width 0.3s ease;
}

#user-management #add-user.open {
    width: 500px;
}

#user-management #add-user form {
    display: none;
}

#user-management #add-user.open form {
    display: flex;
}


#user-management #add-user
{
    border-radius: 0%;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 3px 4px rgba(155, 155, 155, 0.4);
    padding: 0;
}

#user-management #add-user form
    {
        border-radius: 0%;
        align-items: center;
        flex-direction: column;
        height: 900px;
        width: 100%;
        align-self: center;
        padding: 0 0 60px 0;
        justify-self: center;
        background-color: white;
        box-sizing: border-box;
        position: relative;
    }

   #user-management #add-user form #header
    {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0;
    }

   #user-management #add-user form #header p:first-child
    {
        font-size: 30px;
        line-height: 0.1;
        font-weight: 500;
        color: #374151;
    }

   #user-management #add-user  form #header p:not(:first-child)
    {
        font-weight: 500;
        color: #374151;
    }

    #user-management #add-user form #user-body
    {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 70%;
        padding: 20px 0 1px 0;
        box-sizing: border-box;
    }

    #user-management #add-user form #user-body label
    {
        font-size: 20px;
        margin-bottom: 5px;
        color: #374151;
    }

    #user-management #add-user form #user-body input
    {
        height: 2.6rem;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
        padding: 0 0 0 10px;
        box-sizing: border-box; 
    }

    #user-management #add-user form #user-body input:focus
    {
        border: 2px solid #0390dc;
    }


    #user-management #add-user form #submit-area
    {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    #user-management #add-user form #submit-area button
    {
        
        height: 3rem;
        width: 70%;
        padding: 0 30px 0 30px;
        font-size: 15px;
        border-radius: 7px;
        border: none;
        background-color: rgb(0, 89, 254);
        color: white;
    }

    #user-management #add-user form #submit-area button:hover
    {
        background-color: #0390dc;
    }

/* Users Table Container */
#user-management #users-table-container
{
    position: relative;
    margin: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 3px 4px rgba(155, 155, 155, 0.1);
    border-radius: 10px;
    overflow-x: auto;
}

#user-management #users-table-container .table-section
{
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}